.container	
	%h1 Home#index
	%p Find me in app/views/home/index.html.haml
	.row
		.col-md-6
			= "col-md-6"
		.col-md-6
			= "col-md-6"
	.row
		.col-md-12
			= "col-md-12"	
	%h2 Icons			
	.row
		.col-md-3
			= ".bi.bi-alarm : "
			%i.bi.bi-alarm
		.col-md-3
			= ".bi.bi-check-square : "
			%i.bi.bi-check-square
		.col-md-3
			= ".bi.bi-plus : "
			%i.bi.bi-plus
		.col-md-3
			= ".bi.bi-pencil-fill : "
			%i.bi.bi-pencil-fill
	.row
		.col-md-3
			= ".bi.bi-file-earmark-text : "
			%i.bi.bi-file-earmark-text
		.col-md-3
			= ".bi.bi-house-door-fill : "
			%i.bi.bi-house-door-fill
		.col-md-3
			= ".bi.bi-x-circle : "
			%i.bi.bi-x-circle
		.col-md-3
			= ".bi.bi-x-square : "
			%i.bi.bi-x-square		
	.row
		.col-md-3
			= ".bi.bi-trash-fill : "
			%i.bi.bi-trash-fill
		.col-md-3
			= ".bi.bi-search	 : "
			%i.bi.bi-search	
		.col-md-3
			= ".bi.bi-file-plus : "
			%i.bi.bi-file-plus	

:javascript
	$(document).ready(function(){
	})			