.fixed-side-navbar
  %ul.nav.flex-column
    %li.nav-item
      %a.nav-link{:href => "#home"}
        %span Intro
    %li.nav-item
      %a.nav-link{:href => "#services"}
        %span About
    %li.nav-item
      %a.nav-link{:href => "#portfolio"}
        %span Inspriation
    %li.nav-item
      %a.nav-link{:href => "#our-story"}
        %span Novel
    %li.nav-item
      %a.nav-link{:href => "#contact-us"}
        %span Contact
#home.parallax-content.baner-content
  .container
    .first-content
      %h1 Ben M Curry
      %span Novelist
      .primary-button
        %a{:href => "#services"} Discover More
#services.service-content
  .container
    .row
      .col-md-4
        .left-text
          %h4 More About Ben M Curry
          .line-dec
          %p I am an aspiring author in the middle of the second draft of my first novel. During the day-time I work as an Internet Application Developer. I reside in the United States but I am a world traveler and lived in Malaysia for ten years during my earlier adulthood.
          %p I have a passion for Science Fiction. Details of my current work is available below.
          %p
            Please share my
            %a{:href => "https://www.benmcurry.com", :rel => "nofollow"} website
            with your friends or collegues. Thank you.
          .primary-button
            %a{:href => "#portfolio"} My inspiration
      .col-md-8
        .row
          .col-md-12
            .service-item
              = image_tag "author.jpg",  class: "author-img"


#our-story.tabs-content
  .container
    .row
      .col-md-6
        .row
          .col-md-12
            .service-item
              = image_tag "book.png"    
      .col-md-6
        .left-text
          %h4 The Science of Miracles
          .line-dec
          %p A toddler and family are abducted by extraterrestrials for the purpose of raising the child in an alien culture.

          %p A fleet of UFOs appears to menace the population of earth. The social, political, financial anomie that follows prompts a revolution against a government that has become a kleptocracy.

          %p The revolution becomes a totalitarian regime. Those who do not join the one political party are marginalized.

          %p The grown-up toddler returns to earth to share alien knowledge. The government takes credit for the sharing with the alien race and promotes the alien as an affirmation of the government's legitimacy.

          %p The alien becomes disillusioned with the government and seeks refuge with an underground resistance movement, taking advantage to disseminate the alien knowledge through the resistance’s network.

          %p The alien befriends a former physicist who has created a device to access higher dimensions. Using the alien knowledge they are able to enhance the device to allow a person to transport themselves from one location to another using the higher dimensions as a shortcut. Together they help the resistance until the government learns of the device.

          %p The Government steals the device then kidnaps the alien and tortures the alien to explain how the device works.

          %p The physicist discovers the device is attuned to him only and that he doesn’t need it to teleport. The physicist rescues the alien.

          %p The alien is so badly injured it must return to its planet it came from.
#portfolio.parallax-content.projects-content
  .container
    .row
      .col-md-4
        .service-item 
          %i.fa.fa-quote-left
          %p 
            = "If we are to have peace on earth, our loyalties must become ecumenical rather than sectional. Our loyalties must transcend our race, our tribe, our class, and our nation; and this means we must develop a world perspective."
            .line-dec
            %p Martin Luther King, Jr.
      .col-md-4
        .service-item
          %i.fa.fa-quote-left
          %p 
            = "You truely can make the world a better place. Teach your children how to love."
            .line-dec
            %p Paxxa
      .col-md-4
        .service-item
          %i.fa.fa-quote-left
          %p 
            = "An eye for an eye only ends up making the whole world blind."
            .line-dec
            %p Mahatma Gandhi               
#contact-us.parallax-content.contact-content
  .container
    .row
      .col-md-3
      .col-md-6
        .contact-form
          .row
            %form#contact{:action => "", :method => "post"}
              .row
                .col-md-12
                  %fieldset
                    %input#name.form-control{:name => "name", :placeholder => "Your name...", :required => "", :type => "text"}/
                .col-md-12
                  %fieldset
                    %input#email.form-control{:name => "email", :placeholder => "Your email...", :required => "", :type => "email"}/
                .col-md-12
                  %fieldset
                    %textarea#message.form-control{:name => "message", :placeholder => "Your message...", :required => "", :rows => "6"}
                .col-md-12
                  %fieldset
                    %button#form-submit.btn{:type => "submit"} Send Message
%footer
  .container
    .row
      .col-md-12
        .primary-button
          %a{:href => "#home"} Back To Top
        %p
          Copyright © 2021 Ben M Curry
          
          \- Design:
          %a{:href => "https://templatemo.com", :rel => "nofollow noopener"}
            %em TemplateMo

