= simple_form_for wiki, html: {class: "wiki form"} do |f|

  - if @wiki.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wiki.errors.count, "error")} prohibited this wiki from being saved:"
      %ul
        - @wiki.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :parent
    = f.number_field :parent
  .field
    = f.label :version
    = f.number_field :version
  .field
    = f.label :deleted
    = f.check_box :deleted
  .field
    = f.label :default_sort
    = f.number_field :default_sort
  .field
    = f.label :last_revision
    = f.number_field :last_revision
  .actions
    = f.submit 'Save', class: "btn btn--secondary"
