.white-scroller.sidebar-content
  %p{id: "sidebar-actions pull-right"}
    = link_to new_wiki_path do
      %i#wiki-new.bi.bi-plus.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add a new wiki."}
    %i#wiki-new-journal.bi.bi-file-earmark-plus-fill.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add a new journal."}
    = link_to wikis_path do
      %i#wiki-home.bi.bi-house-fill.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Display home wikis."}

  %ul#sidebarTabs.nav.nav-tabs.nav-fill{role:"tablist"}
    %li.nav-item{role:"presentation"}
      %button.nav-link.active{id:"home-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#home", type:"button", role:"tab", "aria-controls"=>"home", "aria-selected"=>"true"}
        = "Menu"
    %li.nav-item{role:"presentation"}
      %button.nav-link.active{id: "profile-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#profile", type:"button", role:"tab", "aria-controls"=>"profile", "aria-selected"=>"true"}
        = "Open"
    %li.nav-item{role:"presentation"}
      %button.nav-link.active{id: "contact-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#contact", type:"button", role:"tab", "aria-controls"=>"contact", "aria-selected"=>"true"}
        = "Recent"
  #myTabContent.tab-content
    #home.tab-pane.fade.show.active{role: "tabpanel", "aria-labelledby"=>"home-tab"}
      = "Home content"
    #profile.tab-pane.fade{role: "tabpanel", "aria-labelledby"=>"profile-tab"}
      = "Profile content"
    #contact.tab-pane.fade{role:"tabpanel", "aria-labelledby"=>"contact-tab"}
      = "Contact content"




  %ul#sidebarTabs.nav.nav-tabs
    %li.nav-item
      %a.nav-link.active{"data-target" => "#menu", "data-toggle" => "tab", "href" => "#"} Menu
    %li
      %a.nav-link{"data-target" => "#open", "data-toggle" => "tab", "href" => "#"} Open
    %li
      %a.nav-link{"data-target" => "#recent", "data-toggle" => "tab", "href" => "#"} Recent
  .tab-content
    #menu.tab-pane.active
      .well.nested-menu
        %ul.wiki.toc
          - @menu_seeds.each do |seed|
            %li.top-parent
              %i.tree-toggler.bi.bi-caret-right-fill
              %a.tree-menu{"data-wiki-id" => "#{seed.id}", "data-parent-id" => "#{seed.parent}", href: "/wikis/#{seed.id}"}
                = seed.title
              = nested_set(seed.all_decendents,'tree-menu', seed.id).html_safe
    #open.tab-pane
      %ul.nav.nav-list
        - @wikis.each do |wiki_link|
          %li
            %a.tree-menu{"data-wiki-id" => "#{wiki_link.id}", href: "javascript:void(0);"}
              = wiki_link.title
    #recent.tab-pane
      %ul.recent-list
        - group_date = ""
        - @recents.each do |recent_link|
          - if group_date != recent_link.updated_at.strftime('%F')
            - group_date = recent_link.updated_at.strftime('%F')
            %li.recent-group= group_date
          %li
            %a.tree-menu{"data-wiki-id" => "#{recent_link.id}", href: "javascript:void(0);"}
              = recent_link.title