.white-scroller.sidebar-content
  %p{id: "sidebar-actions pull-right"}
    = link_to new_wiki_path do
      %i#wiki-new.bi.bi-plus.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add a new wiki."}
    %i#wiki-new-journal.bi.bi-file-earmark-plus-fill.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Add a new journal."}
    = link_to wikis_path do
      %i#wiki-menu.bi.bi-house-fill.action-icon{"aria-hidden" => "false", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Display home wikis."}

  %ul#sidebarTabs.nav.nav-tabs.nav-fill{role:"tablist"}
    %li.nav-item{role:"presentation"}
      %button.nav-link.active{id:"menu-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#menu", type:"button", role:"tab", "aria-controls"=>"menu", "aria-selected"=>"true"}
        = "Menu"
    %li.nav-item{role:"presentation"}
      %button.nav-link{id: "open-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#open", type:"button", role:"tab", "aria-controls"=>"open", "aria-selected"=>"true"}
        = "Open"
    %li.nav-item{role:"presentation"}
      %button.nav-link{id: "recent-tab", "data-bs-toggle"=>"tab", "data-bs-target"=>"#recent", type:"button", role:"tab", "aria-controls"=>"recent", "aria-selected"=>"true"}
        = "Recent"

  #myTabContent.tab-content
    #menu.tab-pane.fade.show.active{role: "tabpanel", "aria-labelledby"=>"menu-tab"}
      .well.nested-menu
        %ul.wiki.toc
          - @menu_seeds.each do |seed|
            %li.top-parent
              %i.tree-toggler.bi.bi-caret-right-fill
              %a.tree-menu{"data-wiki-id" => "#{seed.id}", "data-parent-id" => "#{seed.parent}", href: "/wikis/#{seed.id}"}
                = seed.title
              = nested_set(seed.all_decendents,'tree-menu', seed.id).html_safe
    #open.tab-pane.fade{role: "tabpanel", "aria-labelledby"=>"open-tab"}
      %ul.nav.nav-list
        - @wikis.each do |wiki_link|
          %li
            %a.tree-menu{"data-wiki-id" => "#{wiki_link.id}", href: "javascript:void(0);"}
    #recent.tab-pane.fade{role:"tabpanel", "aria-labelledby"=>"recent-tab"}
      %ul.recent-list
        - group_date = ""
        - @recents.each do |recent_link|
          - if group_date != recent_link.updated_at.strftime('%F')
            - group_date = recent_link.updated_at.strftime('%F')
            %li.recent-group= group_date
          %li
            %a.tree-menu{"data-wiki-id" => "#{recent_link.id}", href: "javascript:void(0);"}
              = recent_link.title



 

           