.row
  .col-md-4.col-xs-12
    = "&copy; Ben M Curry,".html_safe 
    = Time.now.year
    = " All rights reserved."
    %br
    ="v.2024.241"
            
  .col-md-4.col-xs-12{align:"center"}
    = link_to "License", "#mdlLicense",  data: {toggle: "modal", target: "#mdlLicense"}
    = "|"
    = link_to "Privacy", "#mdlPrivacy",  data: {toggle: "modal", target: "#mdlPrivacy"}

  .col-md-4.col-xs-12 
    =link_to "Back to top", "#"
    %br
    = "&alpha; = 0.0072973525627871".html_safe 


.modal#footer_modal
  .modal-dialog
    .modal-content
      %span.close
        %i.bi.bi-x-circle   
      = turbo_frame_tag "modal" 

