!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    
    %title Ben M Curry | Author
    %meta{:name=>"description", :content=>"This site is about the Ben M Curry, Science Fiction Author. It contains a description of his latest novel, The Science of Miracles, a story about a toddler abducted by extraterrestrials who returns to earth years later as a missionary for an alien religion. "}/
    %meta{:property=>"og:title", :content=>"Ben M Curry | Author"}/
    %meta{:property=>"og:description", :content=>"This site is about the Ben M Curry, Science Fiction Author. It contains a description of his latest novel, The Science of Miracles, a story about a toddler abducted by extraterrestrials who returns to earth years later as a missionary for an alien religion. "}/
    %meta{:property=>"og:url", :content=>"https://www.benmcurry.com"}/
    %meta{:property=>"og:site_name", :content=>"Ben M Curry"}/
    %meta{:property=>"og:type", :content=>"website"}/
    %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
    %meta{:name=>"twitter:title", :content=>"Ben M Curry | Author"}/
    %meta{:name=>"twitter:description", :content=>"This site is about the Ben M Curry, Science Fiction Author. It contains a description of his latest novel, The Science of Miracles, a story about a toddler abducted by extraterrestrials who returns to earth years later as a missionary for an alien religion."}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel=>"canonical", :href=>"https://www.benmcurry.com"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Rokkitt:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Syncopate:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/        
  %body
    = yield

    .modal{ role: "dialog", id: "bmc_modal" }
      .modal-dialog.pop-up-modal{:role => "document"}
        .modal-content
          %span.close{"aria-label" => "Close", "data-dismiss" => "modal" }
            &times;
          .modal-header.modal-title
            = "System Message" 
          .modal-body
            %h1 ! Wormhold Drive Is Off-Line
    
:javascript
  $(document).ready(function () {

    $(".close").on("click", function(){
      $("#bmc_modal").hide();
    })

  })
